<div class="container">
	<div class="search-container">
		<input class="search" type="text" placeholder="Enter city or street" [(ngModel)]="searchQuery" />
		<app-button (onClick)="searchLocation()">Search</app-button>
	</div>
	<div class="main-wrapper">
		<div class="park-container">
			<app-my-dogs
				[myDogs]="myDogs"
				[btnText]="inThePark ? 'Leave the Park' : 'Join the park!'"
				(btnClicked)="addOrRemoveMyDogsToPark()"
			></app-my-dogs>
			<app-button class="back" (onClick)="back()">Back</app-button>
		</div>
		<div class="map-container">
			<div id="map"></div>
			<div class="park-info-wrapper">
				<div *ngIf="selectedPark" class="park-info">
					<h2>{{ selectedPark.name }}</h2>
					<span>Who is here?</span>
					<div class="dog-wrapper">
						<div class="dog" *ngFor="let dog of parkDogs">
							<img [src]="dog.imageSrc" alt="" />
						</div>
					</div>
				</div>
				<div *ngIf="!selectedPark" class="park-info">
					<span>Choose a Park</span>
				</div>
			</div>
		</div>
	</div>
</div>
