<h2 class="title">Profile</h2>
<div class="container">
	<div *ngIf="!loading" class="profile-container">
		<div class="title-wrapper">
			<span>Me</span>
		</div>

		<div *ngIf="!userInfo && !edit" class="complete-info">
			<span>Complete user info now</span>
			<app-button (onClick)="edit = true" [isSmall]="true">Add info</app-button>
		</div>

		<div *ngIf="userInfo && !edit" class="info-container">
			<app-upload-image
				*ngIf="imageSrc"
				[imgSrc]="imageSrc"
				(loading)="(loading)"
				(formData)="this.uploadProfileImage($event)"
			></app-upload-image>
			<div class="info-wrapper">
				<span>
					<span class="label">Name</span>
					<span class="value">{{ userInfo.name }}</span>
				</span>
				<span>
					<span class="label">Lastname</span>
					<span class="value">{{ userInfo.lastname }}</span>
				</span>
				<span>
					<span class="label">Email</span>
					<span class="value">{{ user?.email }}</span>
				</span>
				<span>
					<span class="label">Birthdate</span>
					<span class="value">{{ userInfo.birthdate }}</span>
				</span>
			</div>
			<div class="buttons-wrapper">
				<app-button (onClick)="onEditUserInfo()" *ngIf="!edit">Edit</app-button>
			</div>
		</div>
		<div *ngIf="edit" class="form-container">
			<form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
				<label>Name:</label>
				<input formControlName="name" type="text" />

				<label>Last Name:</label>
				<input formControlName="lastname" type="text" />

				<label>Email:</label>
				<input formControlName="email" type="email" />

				<label>Birthdate:</label>
				<input formControlName="birthdate" type="date" />

				<button type="submit">Submit</button>
				<button (click)="edit = !edit">Cancel</button>
			</form>
		</div>
	</div>
	<div *ngIf="userDogs.length > 0 && !newDog && !editDog" class="dog-container">
		<div class="title-wrapper">
			<span>My dogs</span>
		</div>
		<div class="dog-wrapper">
			<div *ngFor="let dog of userDogs" class="dog">
				<span class="dog-name" (click)="navigateToDogDetail(dog.id)">{{ dog.name }}</span>
				<span class="dog-breed"> {{ dog.breed }}</span>
				<app-upload-image *ngIf="dog.imageSrc" [imgSrc]="dog.imageSrc" (formData)="this.uploadDogImage($event, dog)"></app-upload-image>

				<div *ngIf="dog.isServiceDog" class="checkbox-wrapper">
					<span> Service Dog</span>
				</div>
				<div class="buttons-wrapper">
					<app-button *ngIf="userInfo" [isSmall]="true" (onClick)="onEditDog(dog.id)"> {{ !editDog ? 'Edit' : 'Save' }}</app-button>
					<app-button [isSmall]="true" (onClick)="onDeleteDog(dog.id)">Delete</app-button>
				</div>
			</div>
		</div>
		<app-button class="add-dog" [isSmall]="true" (onClick)="newDog = !newDog">Add new dog</app-button>
	</div>
	<div *ngIf="editDog || newDog" class="dog-container">
		<div class="form-container">
			<form [formGroup]="dogForm">
				<div class="title-wrapper"><span>Edit Dog</span></div>
				<label for="name">Name:</label>
				<input type="text" id="name" formControlName="name" required />

				<label for="breed">Breed:</label>
				<input type="text" id="breed" formControlName="breed" required />

				<label for="birthday">Birthday:</label>
				<input type="date" id="birthday" formControlName="birthdate" required />
				<div class="radio-wrapper">
					<br /><br />
					<label class="radio-label">Gender:</label>
					<label class="radio-label"><input type="radio" formControlName="sex" value="male" /> Male</label>
					<label class="radio-label"><input type="radio" formControlName="sex" value="female" /> Female</label>
				</div>
				<div class="checkbox-wrapper">
					<label> <input type="checkbox" formControlName="isServiceDog" /> Service Dog </label>
				</div>
				<div class="btns-wrapper">
					<app-button (onClick)="onDogSubmit()">Submit</app-button>
					<app-button (onClick)="onCancel()">Cancel</app-button>
				</div>
			</form>
		</div>
	</div>
	<div *ngIf="userDogs.length === 0 && !newDog" class="dog-container">
		<app-button [isSmall]="true" (onClick)="newDog = !newDog">Add new dog</app-button>
	</div>
	<div *ngIf="loading" class="spinner">
		<app-spinner></app-spinner>
	</div>
</div>
<div class="back-wrapper">
	<app-button (onClick)="backClicked()">Go back</app-button>
</div>
