<h2 class="title">Profile</h2>
<div *ngIf="!loading" class="container">
	<div class="profile-container">
		<span>My dog</span>
		<img [src]="imageSrc" alt="profile-image" />
		<span class="upload-button" (click)="fileInput.click()">Upload New Image</span>
		<input type="file" #fileInput (change)="onFileSelected($event)" hidden />
	</div>
	<div class="buttons-container">
		<app-button (onClick)="backClicked()"> Back </app-button>
	</div>
	<div *ngIf="loading" class="spinner">
		<app-spinner></app-spinner>
	</div>
</div>
