@import '../../styles/colors';

.container {
	align-items: center;
	background-color: #f5f5f5; // Light background color for contrast
	display: flex;
	flex-direction: column;
	height: 100vh; // Full viewport height
	justify-content: start;
	text-align: center; // Center text

	.welcome-message {
		color: #333;
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
	}

	.main-wrapper {
		display: flex;
		flex-grow: 1;
		gap: 2rem;
		justify-content: center;
		width: 100%;

		.posts-wrapper {
			background-color: $terciary-color;
			border: 2px solid black;
			border-radius: 8px;
			margin-bottom: 2rem;
			min-width: 700px;
			padding: 1rem;
			padding-top: 2rem;

			.posts {
				background-color: none;
			}

			.loading {
				margin-top: 5rem;
			}
		}

		.btns-wrapper {
			border: 2px solid black;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			margin-top: 2rem;

			>* {
				margin: 2rem;
			}
		}
	}
}